@import url(default.css);


BODY {background-color: #E0E0E0;font-size:11px;line-height:12px ;font-family:verdana,Arial,sans-serif;}
.pageWrapper {margin: 0px auto; width:650px ;}
#header{height:auto;_width:657px;overflow:hidden;background:none;}
#content {background:#fff;_width:638px;border:0px;color:#333;padding:10px;}
#headLinks {display:none;}
#footer{display:none;}

#multiFormNav{display:none;}

.tGrid {width:100%;}
.tGrid td{padding:2px;}

.dlForm input, .dlForm select, .dlForm textarea {border:default;}
/* form formater */
.dlForm fieldset {border:1px solid red;}
.dlForm label, .dlForm .label{ color:#000;}
.dlForm a {color:#666;text-decoration:underline;}
.dlForm h1{border:0px;margin:0px;}
.dlForm .legend, .dlForm legend {font-weight:bold;}
.dlForm fieldset {border:0px solid #333;position:relative;margin:0px;padding:0px;}
.dlForm dl {margin:0px;height:auto;padding:0px;}
.dlForm dt label {display:block;margin:0px;}
.dlForm dd .fcol ul{margin:0px;padding:0px;list-style:none;border:1px solid #999;display:inline;}
.dlForm dd .fcol li {display:none;margin:0px;padding:0px;list-style:none;}
.dlForm dd .fcol li.fElement {display:inline;}

input, select, textarea {/*font-size: 10px ;*/}
h1 {margin:5px 0px ;font-size:14px;}
h2 {margin:5px 0px ;font-size:13px;}
h3 {margin:0px ;font-size:12px;}
h4 {margin:0px;font-size:11px;}
ol li {margin-top:5px;}

#printBtnBlock input{ font-size:14px;padding:5px;cursor:pointer;}
/*#header .navMenu {background:#d7dcde;height:23px;}*/